<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

    <!--Gazebo Wheel Macro-->
    <xacro:macro name="gazebo_mpo_700_wheel" params="
      wheel_prefix
      ">
        <gazebo reference="${wheel_prefix}_link">
            <mu1>0.05</mu1>
            <mu2>0.05</mu2>
            <kp>100000.0</kp>
            <kd>10.0</kd>
        </gazebo>
    </xacro:macro>

</robot>