<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

    <!--CASTER WHEEL MACRO-->
    <xacro:macro name="mpo_700_caster_wheel" params="
        caster_prefix
        caster_joint_type
        link_origin_rpy
        *origin
        parent_link
        caster_inertial_value
        has_limits
        model_scale
        ">

        <link name="${caster_prefix}_link">
            <inertial>
                <mass value="12.7"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="${caster_inertial_value}" ixy="0" ixz="0" iyy="${caster_inertial_value}" iyz="0" izz="${caster_inertial_value}"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${link_origin_rpy}"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-HEAD.dae" scale="${model_scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${link_origin_rpy}"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mpo_700/meshes/MPO-700-HEAD.dae" scale="${model_scale}"/>
                </geometry>
            </collision>
        </link>

        <joint name="${caster_prefix}_joint" type="${caster_joint_type}">
            <xacro:insert_block name="origin"/>
            <axis xyz="0 0 1"/>
            <xacro:if value="${has_limits}">
                <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="6.5"/>
            </xacro:if>
            <joint_properties damping="30" friction="110"/>
            <parent link="${parent_link}"/>
            <child link="${caster_prefix}_link"/>
        </joint>
    </xacro:macro>

</robot>