<?xml version="1.0"?>
<!-- This is the main URDF file for mpo_700-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="elite">

            <!-- create arm from macro-->
            <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
           
            <xacro:arg name="arm_type" default="ec66"/>
            <xacro:arg name="use_gazebo" default="true"/>
        
            <!--Elite arm parameters-->
            <xacro:arg name="tf_prefix" default="$(arg arm_type)"/>
            <xacro:arg name="joint_limit_params_file" default="$(find elite_description)/config/$(arg arm_type)/joint_limits.yaml"/>
            <xacro:arg name="joint_origin_params_file" default="$(find elite_description)/config/$(arg arm_type)/joint_origins.yaml"/>
            <xacro:arg name="link_inertials_params_file" default="$(find elite_description)/config/$(arg arm_type)/link_inertials.yaml"/>
            <xacro:arg name="initial_joint_positions_file" default="$(find elite_description)/config/$(arg arm_type)/initial_positions.yaml"/>

            <!-- create arm -->
            <xacro:include filename="$(find elite_description)/urdf/macro/elite_macro.xacro" />
            <xacro:elite_robot 
                name="$(arg arm_type)"
                tf_prefix="$(arg tf_prefix)"
                arm_parent="cabinet_link"
                joint_limits_parameters_file="$(arg joint_limit_params_file)"
                joint_origins_parameters_file="$(arg joint_origin_params_file)"
                link_inertials_parameters_file="$(arg link_inertials_params_file)"
            >
                <origin xyz="0.133 0.0 0.416" rpy="0.0 0.0 -1.5708" />
            </xacro:elite_robot>

            <!-- If both Elite Arm and Simulation is used -->
            <xacro:if value="$(arg use_gazebo)">
                <xacro:include filename="$(find elite_description)/urdf/elite_gazebo_ros2_control.urdf.xacro" />
            </xacro:if>  

</robot>

