<?xml version="1.0" ?>
<model>
    <name>wirebonder</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>astromingha</name>
        <email>astromingha@gmail.com</email>
    </author>
    <description>Static wire-bonder machine mock-up (0.952 x 0.52 x 1.775 m), stacked-box visual, for robot-arm simulation.</description>
</model>
