<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_400">

    <!--CASTER WHEEL MACRO-->
    <xacro:macro name="mp_400_caster_wheel" params="
        caster_prefix
        caster_joint_type
        *origin
        parent_link
        model_scale
        ">

        <link name="${caster_prefix}_link">
            <inertial>
                <mass value="12.7"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <inertia ixx="0.00499743171" ixy="0.00000004464" ixz="-0.00000002245" iyy="0.00499741733" iyz="-0.00000000164" izz="0.00839239692"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://neo_simulation2/robots/mp_400/meshes/MP-400-CASTER-WHEEL.dae" scale="${model_scale}"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <sphere radius="0.038"/>
                </geometry>
            </collision>
        </link>

        <joint name="${caster_prefix}_joint" type="${caster_joint_type}">
            <xacro:insert_block name="origin"/>
            <axis xyz="-1 0 0"/>
            <joint_properties damping="1." friction="1.0"/>
            <limit effort="1000.0" lower="-1e+16" upper="1e+16" velocity="3.5"/>
            <parent link="${parent_link}"/>
            <child link="${caster_prefix}_link"/>
        </joint>
    </xacro:macro>

</robot>