<?xml version="1.0"?>
<!-- This is the main URDF file for mp_400-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_400">

    <!--set use_gazebo = false for implementation on real robot-->
    <xacro:arg name="use_gazebo" default="true"/>

    <!-- import main body description -->
    <xacro:include filename="$(find neo_simulation2)/robots/mp_400/urdf/mp_400_body.urdf.xacro"/>
 
    <!-- If Simulation is used -->
    <xacro:if value="$(arg use_gazebo)">
        <xacro:include filename="$(find neo_simulation2)/robots/mp_400/urdf/mp_400_gazebo.urdf.xacro"/>
    </xacro:if>

</robot>


