<?xml version="1.0" ?>
<model>
    <name>box_236</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>astromingha</name>
        <email>astromingha@gmail.com</email>
    </author>
    <description>Dynamic cardboard box (0.236 x 0.081 x 0.14 m) with collision mesh, for robot-arm pick-and-place simulation.</description>
</model>
